services:
  ollama:
    image: docker.io/ollama/ollama:latest
    container_name: ollama
    environment:
      - OLLAMA_KEEP_ALIVE=24h
      - OLLAMA_HOST=0.0.0.0
    ports:
      - 11434:11434
    volumes:
      - /mnt/storage/apps/ollama:/root/.ollama
    restart: unless-stopped
