export HOME_DIR=

export EMAIL_ADDRESS=
export PUBLIC_DOMAIN_NAME=
export LOCAL_DOMAIN_NAME=home.arpa
export TRAEFIK_CLUSTER_IP=
export SINGLE_NODE_NAME=

export PASSBOLT_BASE_URL=http://passbolt.home.arpa
export PASSBOLT_GPG_KEY_FILE=
export PASSBOLT_GPG_PASSPHRASE=

export PANGOLIN_PROXY_IP=

export WARDEN_API_KEY=
