export PATH="/path/to/vals/bin:$PATH"
export HELMFILE_VALS_PATH=/path/to/vals/bin/vals

export HOME_DIR=

export EMAIL_ADDRESS=
export PUBLIC_DOMAIN_NAME=
export LOCAL_DOMAIN_NAME=home.arpa
export TRAEFIK_CLUSTER_IP=
export SINGLE_NODE_NAME=
export SINGLE_NODE_IP=

export PANGOLIN_PROXY_IP=

# Scaleway Secret Manager (used by vals ref+scw:// provider)
export SCW_ACCESS_KEY=
export SCW_SECRET_KEY=
export SCW_PROJECT_ID=
export SCW_REGION=fr-par
