---
env:
  TZ: Europe/Paris

envSecrets:
  dbEncryption:
    existingSecret: homarr-db-encryption
    key: db-encryption-key

ingress:
  enabled: true
  ingressClassName: traefik
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: mkcert-ca
  hosts:
    - host: dashboard.home.arpa
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - dashboard.home.arpa
      secretName: homarr-mkcert-tls
