fullnameOverride: "monitoring"

# -- Disable unneeded components
alertmanager:
  enabled: true

prometheusOperator:
  enabled: true

prometheusSpec:
  serviceMonitorSelectorNilUsesHelmValues: false
  retention: 15d
  scrapeInterval: 30s
  evaluationInterval: 30s
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 1Gi
