services:
  jellyfin:
    image: jellyfin/jellyfin:10.10.7
    container_name: jellyfin
    environment:
      JELLYFIN_CACHE_DIR: /cache
      PGID: 568
      PUID: 568
      TZ: Europe/Paris
    user: "568:568"
    ports:
      - "8920:8920"
      - "8096:8096"
    volumes:
      - /mnt/work/apps/jellyfin/config:/config
      - /mnt/work/apps/jellyfin/cache:/cache
      - /mnt/storage/media/videos:/media
    healthcheck:
      interval: 30s
      retries: 5
      start_interval: 2s
      start_period: 15s
      test: >-
        curl --request GET --silent --output /dev/null --show-error --fail
        http://127.0.0.1:8096/health
      timeout: 5s
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 4096M
    restart: unless-stopped

networks:
  jellyfin:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
