services:
  broker:
    image: docker.io/library/redis:8
    restart: unless-stopped
    volumes:
      - /mnt/work/apps/paperless-ngx/redis/redisdata:/data
  db:
    image: docker.io/library/postgres:17
    restart: unless-stopped
    volumes:
      - /mnt/work/apps/paperless-ngx/postgres/pgdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "8000:8000"
    volumes:
      - /mnt/work/apps/paperless-ngx/paperless-ngx/data:/usr/src/paperless/data
      - /mnt/work/apps/paperless-ngx/paperless-ngx/media:/usr/src/paperless/media
      - /mnt/work/apps/paperless-ngx/paperless-ngx/export:/usr/src/paperless/export
      - /mnt/work/apps/paperless-ngx/paperless-ngx/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      USERMAP_UID: 1000
      USERMAP_GID: 1000
      #PAPERLESS_URL: https://paperless.example.com
      PAPERLESS_TIME_ZONE: Europe/Paris
      PAPERLESS_OCR_LANGUAGE: fra
      PAPERLESS_DATE_ORDER: DD/MM/YYYY
volumes:
  data:
  media:
  pgdata:
  redisdata:
