apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "glance.fullname" . }}-config
  labels:
    {{- include "glance.labels" . | nindent 4 }}
data:
  glance.yml: |
    {{- .Values.config | replace "${GLUETUN_URL}" .Values.gluetunUrl | replace "${GLUETUN_API_KEY}" .Values.gluetunApiKey | replace "${QBITTORRENT_URL}" .Values.qbittorrentUrl | replace "${UPTIME_KUMA_URL}" .Values.uptimeKumaUrl | replace "${UPTIME_KUMA_STATUS_SLUG}" .Values.uptimeKumaStatusSlug | nindent 4 }}
