service:
  type: NodePort
  port: 8096
  nodePort: 30096


persistence:
  config:
    enabled: true
    storageClass: zfs-vm-pool-jellyfin-config
  media:
    enabled: true
    storageClass: zfs-tank-jellyfin
  # metrics:

volumes:
  - name: jellyfin-cache
    persistentVolumeClaim:
      claimName: pvc-jellyfin-cache

volumeMounts:
  - name: jellyfin-cache
    mountPath: /cache

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000

# for hardware acceleration
securityContext:
  capabilities:
    add:
      - "SYS_ADMIN"
    drop:
      - "ALL"
  privileged: false

extraVolumes:
  - name: hwa
    hostPath:
      path: /dev/dri

extraVolumeMounts:
  - name: hwa
    mountPath: /dev/dri

# resources:
#   limits:
#     cpu: 1000m
#     memory: 2Gi
#   requests:
#     cpu: 200m
#     memory: 512Mi

ingress:
  enabled: true
  className: traefik
  annotations: {}
  hosts:
    - host: jellyfin.home.arpa
      paths:
        - path: /
          pathType: Prefix
  tls:
    - host: jellyfin.home.arpa
      paths:
        - path: /
          pathType: Prefix

