---
type: postgresql
mode: standalone
version:
  postgresql: '18'
cluster:
  instances: 1
  storage:
    storageClassName: zfs-vm-pool-cnpg
    size: 1Gi
  monitoring:
    enabled: false
  initdb:
    database: admin_db  # some default
    owner: admin_user
    secret:
      name: cnpg-admin_db-secret
    # connect to a db with something likes postgresql://app_user:super-secure-password@app-postgres-rw.cnpg-database.svc.cluster.local:5432/app_db
    postInitSQL:
      # - |
      #   CREATE ROLE jelly_user LOGIN PASSWORD '...';
      #   CREATE DATABASE jellyseerr OWNER jelly_user;
      #
      #   CREATE ROLE inf_user LOGIN PASSWORD '...';
      #   CREATE DATABASE infisical OWNER inf_user;
      #
      #   CREATE ROLE beszel_user LOGIN PASSWORD '...';
      #   CREATE DATABASE beszel OWNER beszel_user;
backups:
  enabled: false
