---
infisical:
  enabled: true
  name: infisical
  autoDatabaseSchemaMigration: true
  replicaCount: 1
  image:
    repository: infisical/infisical
    # tag: "v0.46.2-postgres"
    pullPolicy: IfNotPresent
  kubeSecretRef: infisical-secrets
postgresql:
  enabled: true
  name: infisical-postgresql
  fullnameOverride: infisical-postgresql
  auth:
    username: ref+file://_secret.yaml#/infisical/postgresql/auth/username
    password: ref+file://_secret.yaml#/infisical/postgresql/auth/password
    database: ref+file://_secret.yaml#/infisical/postgresql/auth/database
  # useExistingPostgresSecret:
  #   enabled: false
  #   existingConnectionStringSecret:
  #     name: infisical-secrets
  #     key: ""
redis:
  enabled: true
  # name: infisical-redis
  # fullnameOverride: infisical-redis
  cluster:
    enabled: false
  usePassword: true
  auth:
    password: ref+file://_secret.yaml#/infisical/redis/auth/password
  architecture: standalone
ingress:
  enabled: true
  hostName: infisical.home.arpa
  ingressClassName: traefik
  nginx:
    enabled: false
  annotations: {}
  tls:
    - secretName: infisical-tls
      hosts:
        - infisical.home.arpa
