#cloud-config
---
ssh_pwauth: true
chpasswd:
  expire: false
  users:
    - name: ${username}
      password: ${password_hash}
      type: hash

users:
  - default
  - name: ${username}
    groups:
      - sudo
      - users
      - docker
    shell: /bin/zsh
    sudo:
      - ALL=(ALL) ALL
    lock_passwd: false
    ssh_authorized_keys:
%{ for key in ssh_public_keys ~}
      - ${key}
%{ endfor ~}

package_update: true
package_upgrade: true

packages:
  - vim
  - git
  - htop
  - curl
  - sudo
  - zsh
  - apt-utils

write_files:
  - path: /home/${username}/init.sh
    permissions: "0755"
    owner: root:root
    content: |
      ${indent(6, init_script)}
  - path: /home/${username}/pangolin/compose.yaml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, compose_file)}
  - path: /home/${username}/pangolin/config/config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, pangolin_config)}
  - path: /home/${username}/pangolin/config/traefik/traefik_config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, traefik_static_config)}
  - path: /home/${username}/pangolin/config/traefik/dynamic_config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, traefik_dynamic_config)}

runcmd:
  - chsh -s /bin/zsh ${username}
  - mkdir -p /home/${username}/.ssh
  - cp /root/.ssh/authorized_keys /home/${username}/.ssh/authorized_keys
  - chown -R ${username}:${username} /home/${username}/.ssh
  - mkdir -p /home/${username}/pangolin/config/traefik/logs /home/${username}/pangolin/config/db /home/${username}/pangolin/config/letsencrypt /home/${username}/pangolin/config/logs /home/${username}/pangolin/config/postgres
  - chown -R ${username}:${username} /home/${username}/pangolin
  - /home/${username}/init.sh ${username}
  - systemctl enable --now docker
  - docker compose -f /home/${username}/pangolin/compose.yaml up -d
