#cloud-config
---
ssh_pwauth: true
chpasswd:
  expire: false
  users:
    - name: ${username}
      password: ${password_hash}
      type: hash

users:
  - default
  - name: ${username}
    groups:
      - sudo
      - users
      - docker
    shell: /bin/zsh
    sudo:
      - ALL=(ALL) ALL
    lock_passwd: false
    ssh_authorized_keys:
%{ for key in ssh_public_keys ~}
      - ${key}
%{ endfor ~}

package_update: true
package_upgrade: true

packages:
  - vim
  - git
  - htop
  - curl
  - sudo
  - zsh
  - apt-utils
  - unzip

write_files:
  - path: /home/${username}/init.sh
    permissions: "0755"
    owner: root:root
    content: |
      ${indent(6, init_script)}
  - path: /home/${username}/pangolin/compose.yaml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, compose_file)}
  - path: /home/${username}/pangolin/config/config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, pangolin_config)}
  - path: /home/${username}/pangolin/config/traefik/traefik_config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, traefik_static_config)}
  - path: /home/${username}/pangolin/config/traefik/dynamic_config.yml
    permissions: "0644"
    owner: root:root
    content: |
      ${indent(6, traefik_dynamic_config)}
  - path: /home/${username}/pangolin/config/crowdsec/acquis.d/traefik.yaml
    permissions: "0644"
    owner: root:root
    content: |
      poll_without_inotify: false
      filenames:
        - /var/log/traefik/*.log
      labels:
        type: traefik
  - path: /home/${username}/pangolin/config/crowdsec/acquis.d/syslog.yaml
    permissions: "0644"
    owner: root:root
    content: |
      filenames:
        - /var/log/auth.log
        - /var/log/syslog
      labels:
        type: syslog
  - path: /home/${username}/pangolin/config/crowdsec/acquis.d/appsec.yaml
    permissions: "0644"
    owner: root:root
    content: |
      listen_addr: 0.0.0.0:7422
      appsec_config: crowdsecurity/appsec-default
      name: myAppSecComponent
      source: appsec
      labels:
        type: appsec
  - path: /home/${username}/pangolin/config/crowdsec/config.yaml.local
    permissions: "0644"
    owner: root:root
    content: |
      api:
        server:
          capi_whitelists_path: /etc/crowdsec/capi-whitelists.yaml
  - path: /home/${username}/pangolin/config/crowdsec/capi-whitelists.yaml
    permissions: "0644"
    owner: root:root
    content: |
      ips: []
      cidrs: ${jsonencode(crowdsec_capi_whitelisted_cidrs)}
  - path: /home/${username}/pangolin/backup-db.sh
    permissions: "0755"
    owner: root:root
    content: |
      ${indent(6, backup_script)}
  - path: /etc/cron.d/pangolin-db-backup
    permissions: "0644"
    owner: root:root
    content: |
      # Weekly Pangolin database backup - Sunday at 3:00 AM
      0 3 * * 0 root /home/${username}/pangolin/backup-db.sh >> /var/log/pangolin-backup.log 2>&1
  - path: /etc/crowdsec/bouncers/crowdsec-firewall-bouncer.yaml
    permissions: "0600"
    owner: root:root
    content: |
      mode: iptables
      update_frequency: 10s
      daemonize: false
      log_mode: stdout
      log_level: info
      api_url: http://127.0.0.1:8080/
      api_key: ${crowdsec_firewall_bouncer_key}
      disable_ipv6: false
      deny_action: DROP
      deny_log: false
      supported_decisions_types:
        - ban
        - captcha
      iptables_chains:
        - INPUT
        - FORWARD
        - DOCKER-USER

runcmd:
  - chsh -s /bin/zsh ${username}
  - mkdir -p /home/${username}/.ssh
  - cp /root/.ssh/authorized_keys /home/${username}/.ssh/authorized_keys
  - chown -R ${username}:${username} /home/${username}/.ssh
  - mkdir -p /home/${username}/pangolin/config/traefik/logs /home/${username}/pangolin/config/db /home/${username}/pangolin/config/letsencrypt /home/${username}/pangolin/config/logs /home/${username}/pangolin/config/postgres /home/${username}/pangolin/config/crowdsec/acquis.d /home/${username}/pangolin/config/crowdsec/db
  - curl -sLo /home/${username}/pangolin/config/traefik/ban.html https://raw.githubusercontent.com/maxlerebourg/crowdsec-bouncer-traefik-plugin/main/ban.html
  - chown -R ${username}:${username} /home/${username}/pangolin
  - /home/${username}/init.sh ${username}
  - curl -s "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o /tmp/awscliv2.zip && unzip -q /tmp/awscliv2.zip -d /tmp/aws-install && /tmp/aws-install/aws/install && rm -rf /tmp/awscliv2.zip /tmp/aws-install
  - systemctl enable --now docker
  - docker compose -f /home/${username}/pangolin/compose.yaml up -d
