---
apiVersion: v1
kind: Secret
metadata:
  name: infisical-secrets
  namespace: infisical
type: Opaque
stringData:
  AUTH_SECRET: ref+file://_secret.yaml#/infisical/AUTH_SECRET
  ENCRYPTION_KEY: ref+file://_secret.yaml#/infisical/ENCRYPTION_KEY
  SITE_URL: ref+file://_secret.yaml#/infisical/SITE_URL
