---
service:
  type: NodePort
  port: 8096
  nodePort: 30096

persistence:
  config:
    enabled: true
    storageClass: zfs-vm-pool-jellyfin-config
  media:
    enabled: true
    storageClass: zfs-tank-jellyfin
  # metrics:

volumes:
  - name: jellyfin-cache
    persistentVolumeClaim:
      claimName: pvc-jellyfin-cache

volumeMounts:
  - name: jellyfin-cache
    mountPath: /cache

podSecurityContext:
  supplementalGroups:
    - 993
  fsGroup: 993

# for hardware acceleration
securityContext:
  runAsUser: 1000
  runAsGroup: 1000
  supplementalGroups:
    - 993
  capabilities:
    add:
      - SYS_ADMIN
    drop:
      - ALL
  privileged: false

extraVolumes:
  - name: hwa
    hostPath:
      path: /dev/dri

extraVolumeMounts:
  - name: hwa
    mountPath: /dev/dri

resources:
  limits:
    gpu.intel.com/i915: '1'
  requests:
    gpu.intel.com/i915: '1'

ingress:
  enabled: true
  className: traefik
  annotations:
    kubernetes.io/ingress.class: traefik
    cert-manager.io/cluster-issuer: mkcert-ca
  hosts:
    - host: jellyfin.home.arpa
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - jellyfin.home.arpa
      secretName: jellyfin-mkcert-tls
